/* header */
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #D8F2F2;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #122A40
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #327C7C;
}

/* hero */


.model img {
    width: 250px;
    height: 100%;
    object-fit: contain;
    transform: translate(215%, 35%);
}

.model {
    width: 500px;
    height: 530px;
}

.content {
    width: 100%;
    display: flex;
    position:absolute; 
    background-color:#D8F2F2;
    height: 1000px;
}

.main-text {
    width: 600px;
    background-color: white;
    height: 600px;
    margin: 70px 0 0 0;
}

.main-text h1 {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    color: #327C7C;
    text-decoration: none;
    margin: 0px 0px 10px 0px;
    line-height: 100px;
    transform: translate(1%, 15%);
}

.main-text p {
    color: #327C7C;
    transform: translate(1%, 5%);

}

.Download-Resume-btn {
    width: 190px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #D8F2F2;
    background-color: #122A40;
    border-radius: 20px;
    box-shadow: 4px 10px 30px rgba(24, 139, 119, 0.2);
    position: relative;
    transform: translate(-140%, 820%);
}

.Download-Resume-btn:hover {
    color: #327C7C;
    transition: all ease 0.2s;
}

/* footer */
body {
    min-height: 100vh;
}

.bottom {
    position: sticky;
    top: 100%;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #122A40
}

.bottom {
    list-style: none;
}

.bottom li {
    display: inline-block;
    padding: 0px 20px;
}

.bottom li a {
    transition: all 0.3s ease 0s;
}

.bottom li a:hover {
    color: #327C7C;
}

p {
    color:#D8F2F2;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}